@{
    ViewData["title"] = "Blog";
}
@model Blog

<div class="col-md-12 mb-2">
    <div class="card">
        <img src="@Model.image" alt="image" class="card-img-top rounded">
        <div class="card-body">
            <h2>@Model.title</h2>
            <p>
                @Model.description
            </p>

        </div>
        <div class="col d-flex justify-content-end">
            <span> @Model.Date.ToString($"{0:dd/MM/yyyy}") <i class="fas fa-calendar-alt"></i></span>
        </div>

    </div>
</div>

<div class="col-md-12 my-5">
    <form class="form-group row" asp-controller="home" asp-action="comment" method="POST">
        <div class="col-6 ">
            <input type="text" name="name" placeholder="username" class="form-control">
        </div>
        <div class="col-12 my-2">
            <textarea placeholder="message..." name="message" class="form-control" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-12">
            <input type="button" class="btn btn-danger" value="Gönder">
        </div>


    </form>
</div>

@if (Model.Comments.Count() != 0)
{
    <div class="col-md-12 my-5">
        <hr>
        <h2>Yorumlar</h2>
        <hr>

        @foreach (var item in Model.Comments)
        {
            <div class="card">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-3">
                            <img src="@item.avatar" alt="image" class="card-img-top w-75">
                            <p>@item.username</p>
                        </div>
                        <div class="col-md-9">
                            <p>
                                @item.message
                            </p>
                            <div class="col d-flex justify-content-end">
                                <span> @item.date.ToString($"{0:dd/MM/yyyy}") <i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }
    </div>
}
